/* 
==========================================
            MAIN STYLE
==========================================
*/
.app__gallery {
    flex-direction: row;
    background: var(--color-bg);
    margin-bottom: 30px;
}

.app__gallery-content {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.app__gallery-content .pink {
    font-family: var(--font-alt);
    color: var(--color-pink);
}

.app__gallery-images {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.app__gallery-images_container {
    height: 300px;
    margin: auto;
    display: grid;
    place-items: center;
}

.app__gallery-images_container::-webkit-scrollbar {
    display: none;
}

/* 
==========================================
            IMAGE CARD STYLE
==========================================
*/
.app__gallery-images_card {
    min-width: 250px;
    height: 250px;
    margin-right: 2rem;
}

.app__gallery-images_card img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.app__gallery-images_card img:hover {
    transform: scale(1.2);
}

/* 
==========================================
            ANIMATION CAROUSEL
==========================================
*/

.slide-track {
    display: flex;
    width: calc(500px * 18);
    animation: scroll 170s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-195px * 31));
    }
}

.slide-track-bottom {
    display: flex;
    width: calc(500px * 18);
    animation: scrollBottom 170s linear infinite;
}

.slide-track-bottom:hover {
    animation-play-state: paused;
}

@keyframes scrollBottom {
    0% {
        transform: translateX(calc(-195px * 31));
    }
    100% {
        transform: translateX(0);
    }
}

/* 
==========================================
            POPUP IMAGE GALLERY
==========================================
*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(249, 196, 214, 0.9);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    z-index: 100;
}

.popupContent {
    position: fixed;
    width: 90%;
    background: none;
    margin: auto;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.popup img {
    width: 600px;
    object-fit: cover;
}

/* 
==========================================
            POPUP BUTTONS
========================================== 
*/
.popup button {
    color: var(--color-pink);
    background: none;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
.btnClose {
    position: absolute;
    right: 10px;
}

.btnPrev, 
.btnNext {
    margin: 0 30px;
}

/* 
==========================================
            MEDIA SCREEN
========================================== 
*/
@media screen and (min-width: 2000px) {
 .app__gallery-content {
        min-width: 1000px;
        padding-right: 4rem;
    }

    .app__gallery-images_card {
        min-width: 400px;
        height: 547px;
    }
}

@media screen and (max-width: 1150px) {
    .app__gallery {
        flex-direction: column;
    }

    .app__gallery-images {
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .app__gallery {
        padding: 2rem 0 0rem 0rem;
    }  
    
    .app__gallery-content {
        width: 100%;
    }

    .app__gallery-images {
        margin-top: 3rem;
    }

    .app__gallery-images_card {
        min-width: 240px;
        height: 320px;
    }

    .popup img {
        width: 100%;
        margin-top: 70px;
    }
}

@media screen and (max-width: 450px) {
    .popup img {
        margin-top: 200px;
    }
}