.app__gallery {
    flex-direction: row;
    background: var(--color-bg);
}

.app__gallery-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app__gallery-content .pink {
    font-family: var(--font-alt);
    color: var(--color-pink);
}

.app__gallery-content button {
    margin-top: 1rem;
}

.app__gallery-images {
    width: 90%;
    position: relative;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.app__gallery-images_container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.app__gallery-images_container::-webkit-scrollbar {
    display: none;
}

.slide-track {
    display: flex;
    width: calc(500px * 18);
    animation: scroll 170s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-195px * 31));
    }
}

.slide-track-bottom {
    display: flex;
    width: calc(500px * 18);
    animation: scrollBottom 170s linear infinite;
}

.slide-track-bottom:hover {
    animation-play-state: paused;
}

@keyframes scrollBottom {
    0% {
        transform: translateX(calc(-195px * 31));
    }
    100% {
        transform: translateX(0);
    }
}

.app__gallery-images_card {
    min-width: 250px;
    height: 250px;
    margin-right: 2rem;
}

.app__gallery-images_card img {
    width: 100%;
    height: 100%;
    transition: transform 9s;
}

.app__gallery-images_card:hover {
    transform: scale(1.2);
}

/* MEDIA SCREEN */
@media screen and (min-width: 2000px) {
    .app__gallery-content button {
        margin-top: 2rem;
    }

    .app__gallery-content {
        min-width: 1000px;
        padding-right: 4rem;
    }

    .app__gallery-images_card {
        min-width: 400px;
        height: 547px;
    }
}

@media screen and (max-width: 1150px) {
    .app__gallery {
        flex-direction: column;
    }

    .app__gallery-images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .app__gallery {
        padding: 4rem 0 4rem 4rem;
    }
}

@media screen and (max-width: 650px) {
    .app__gallery {
        padding: 4rem 0 4rem 2rem;
    }  
    
    .app__gallery-content {
        min-width: 100%;
    }

    .app__gallery-images_card {
        min-width: 240px;
        height: 320px;
    }
}