/* FONT STYLES */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/* 
==========================================
            MAIN STYLE
==========================================
*/
:root {
  --font-base: 'Poiret One', cursive;
  --font-alt: 'Megrim', cursive;
  --color-bg: rgb(249, 196, 214);
  --color-title: rgb(120, 30, 77);
  --color-pink: rgb(212, 110, 144);
  --color-black: #545454;
  --color-secondary: #F5EFDB;
  --color-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  background: var(--color-bg);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}